{% assign dummy1 = webhook_url %}
{% assign dummy2 = shortcut_url %}
{% assign list_name = trmnl.plugin_settings.custom_fields_values.list_name %}

{% template rlist %}
{% for r in reminders %}
<div class="item">
  <div class="meta"></div>
  <div class="content">
    <span class="title title--small">{{ r.title }}</span>
    {% if show_description %}
    <span class="description">{{r.description | truncate: 36}}</span>
    {% endif %}
    <div class="flex gap--small">
      {% if r.date != "" %}
      <span class="label label--small label--underline">{{r.date}}</span>
      {% endif %}
      {% if r.num_tasks > 0 %}
      {% assign label = r.num_tasks == 1 | default: false %}
      <span class="label label--small label--underline">
        {{ r.num_tasks }} {% if r.num_tasks == 1 %}Subtask{% else %}Subtasks{% endif %}
      </span>
      {% endif %}
    </div>
  </div>
</div>
{% endfor %}
{% if reminders.size == 0 %}
<span class="title title--small">You're all caught up!</span>
<span class="description">You have no upcoming reminders.</span>
{% endif %}
{% endtemplate %}

{% template rlist_title %}
<div class="title_bar">
  <img class="image" src="https://github.com/Kristijan/trmnl_apple_reminders/blob/main/assets/icons8-apple-logo-30.png?raw=true">
  <span class="title">{{ list_name }}</span>
  <span class="instance">{{ reminders.size }} {% if reminders.size == 1 %}item{% else %}items{% endif %}</span>
</div>
{% endtemplate %}